*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url("IMG_6581.jpeg") center center/cover no-repeat;
    
}

/* طبقة غامقة */
body::before{
    content:"";
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
}

/* النجوم */
.stars{
    position:fixed;
    inset:0;
    background-image:
    radial-gradient(white 1px, transparent 1px);
    background-size:70px 70px;
    opacity:.6;
    animation:stars 25s linear infinite;
}

/* المطر */
.rain{
    position:fixed;
    inset:0;
    background-image:linear-gradient(transparent,rgba(255,255,255,.7));
    background-size:2px 25px;
    animation:rain .25s linear infinite;
    opacity:.35;
}

/* الضباب */
.fog{
    position:fixed;
    inset:0;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(3px);
}

/* المحتوى */
.content{
    position:relative;
    z-index:10;
    text-align:center;
    color:white;
}

.content h1{
    font-size:60px;
    margin-bottom:20px;
}

.content p{
    font-size:24px;
    margin-bottom:30px;
}

button{
    padding:15px 40px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
}

button:hover{
    transform:scale(1.05);
}

/* الحركات */

@keyframes rain{
    from{
        background-position:0 -100px;
    }
    to{
        background-position:0 100px;
    }
}

@keyframes stars{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(30px);
    }
}
